<section class="card">
   <div class="card-body">
      <img src="/img/icono.png" alt="" width="200" height="200" style="display:block;
margin:auto;">

      <blockquote class="blockquote text-center">
         <h3>Misión</h3>
         <p class="mb-0">Proveer productos de alta calidad a menor precio de manera eficaz y eficiente a toda la República Mexicana
         <br><br>
         <h3>Visión</h3>
         <p class="mb-0">Posicionarse en el mercado de las imágenes y radiología para dar un servicio eficiente.
         <br><br>
         <h3>Valores</h3>
         Cómo valores respeto al individuo integridad confianza credibilidad mejoramiento continuo y renovación del mismo reconocimiento y celebración
         </p>
         <footer class="blockquote-footer">Company <cite title="Source Title">ArkNoe</cite></footer>
      </blockquote>
      
   </div>
</section>